<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symfony Essai</title>
</head>
<body>
    <h1>Squelette</h1>
    <strong>{% block contenu %}

    {% endblock %}</strong>

    {% block autre %}
        Une autre phrase
    {% endblock %}


</body>
</html>